name: Deploy to Hexo

on:
  workflow_dispatch:
  schedule:
  - cron: "0 0 * * *"
  push:
    branches:
      - blog

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install Hexo CI
        run: |
          export TZ='Asia/Shanghai'
          npm install hexo-cli -g
      
      - name: Update modules
        run: |
          npm install -g npm-check-updates
          ncu -u

      - name: Install modules
        run: |
          npm install

      - name: Deploy
        run: |
          hexo clean && hexo g
          cd ./public
          git init
          git branch -m main
          git config user.name "${{secrets.GIT_NAME}}"
          git config user.email "${{secrets.GIT_EMAIL}}"
          git add .
          git commit -m "Update"
          git push --force --quiet "https://${{secrets.GH_TOKEN}}@${{secrets.GH_REF}}" main:main
